<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Articles</title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <!-- <link rel="author" href="humans.txt"> -->
    </head>
    <body>
        <p>
        	<strong>Title:</strong>
        	<%= @article.title %>
        </p>
        <p>
        	<strong>Text:</strong>
        	<%= @article.text %>
        </p>
        <%= link_to 'Edit', edit_article_path(@article) %>
        <%= link_to 'Back', articles_path %>
        <!-- <script src="js/main.js"></script> -->
    </body>
</html>